<a href="https://colab.research.google.com/github/amtulali/TTP-SUMMER23/blob/main/Intro_to_Python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONDITIONALS

The IF Statement

In [2]:
night = False
#Boolean statement

In [3]:
type(night)
#Give the type of night

bool

In [ ]:
# if (something) -> then do something... if not -> then do something else.

In [ ]:
if night: # == True:
    print("It's night. Sleeping") #print the msg
else:
    print("It's day. Being active.")
#else print "Its day, Being active"

print("Out of the if statement")
#print out of the if statement

In [4]:
a, b, c = 100, 50, 20
#Assign a to 100, b to 50, c to 20
if a > b and b > c:
    print(f"{a} greater than {c}")
#If a is greater than b and b is greater than c then print "{a-value} greater than {c-value}"

100 greater than 20

In [ ]:
data = input("Do you have the keys? (yes/no)")
#Ask for input
if data.lower() == "yes": #If yes, change into lower case input yes
    print("Starting the car") #print the msg
else:
    print("Car cannot start without the keys")  #else print other msg.

In [ ]:
data = input("Please enter the current hour (0-23): ")
#take input
hour = int(data)
#change the input into integer
if hour < 12:   #if hour less than 12 print msg
    print(f"It's {hour} am")
else:
    print(f"It's {hour-12} pm")

NESTED IF STATEMENTS

In [ ]:
pet_store = ['cat', 'dog', 'rabbit']
#Inittialize a list
has_cat_food = True
#Boolean statement
if 'cat' in pet_store:#if cat in list then print
    print("Alright! they have a cat for me")

    if has_cat_food:#if true
        print('Buying cat and cat food')

    else:
        print('Buying the cat only')
        # more code inside the else block
    # more code

else:
    print('Ask pet store to get cat')

MORE ON INDENTATION

In [ ]:
if True:
    print("This is part of the if statement")
print("The if statement has finished")
    # print("Not allowed")

In [5]:
if 5 > 3: #if five greater than 3 then print
    print("This is part of expression 1")

    if 10 > 5: #if ten greater than five
        print("This is part of expression2")

    print("This is also part of expression 1")

print("This is not part of any if statement")
    # print("This is not allowed")

This is part of expression 1
This is part of expression2
This is also part of expression 1
This is not part of any if statement

THE IF ELSE STATEMENT

In [ ]:
age = int(input("Please enter your age: "))
#Take input
if age < 18:#if age less than 18 print
    print("You are a minor")
elif age < 21:#else if age less than 21 print
    print("You are an adult but cannot drink alcohol")
elif age < 35:#else if age less than 35 print
    print("You are younger than 35")
else:
    print("You are an adult")

print("If statement finished")

SHORTHAND IF STATEMENT

In [7]:
a, b = 50, 20
#a is assigned 50, b is assigned 20

In [8]:
if a > b: print("a > b")
#if a is greater than b, print a>b

a > b

In [9]:
print("a > b") if a > b else print("b > a")
#if a is greater than b, then print a>b, else print b>a

a > b

In [10]:
max = a if a > b else b
#If a is greater than b than max is a else it is b
print(max)
#print the max

50

The Pass Keyword

In [11]:
has_cat = False
#boolean expression
if has_cat: # This means --> if has_cat == True
    pass
else:
    print("You should get a cat")

You should get a cat

In [12]:
has_dog = False
#Boolean expression
if has_dog:
    print("Awesome!")
else:
    pass
    print("You should get one")

You should get one

Practice

In [13]:
import random
#Import random choice data

In [14]:
nb = random.randint(0, 100)
#random numbers 0-99
print(f"Number {nb} is even") if nb % 2 == 0 else print(f"Number {nb} is odd")
#if number has a remainder of 0 when divided by 2 then it is even else it is odd

Number 69 is odd

In [15]:
numb = int(input('Please enter a number from 0-100: '))
#Take input of a number range from 0-100
print(f"Number {numb} is even") if numb % 2 == 0 else print(f"Number {numb} is odd")
#Print the number is even if remainder after division is 0, else it is odd

Please enter a number from 0-100: 4
Number 4 is even

Loops

FOR LOOP

In [16]:
animals = ['cat', 'dog', 'horse']
#initialize a list
for animal in animals:#for each animal in the list animal print the following
    print(f"There is a {animal}")

There is a cat
There is a dog
There is a horse

In [17]:
for letter in 'pineapple':#for each letter in pineapple
    print(letter.upper())
    #print uppercase

P
I
N
E
A
P
P
L
E

In [18]:
for number in range(0, 20, 2):#for each number in the range (start from 0, end at 20, count by 2)
    print(f"{number} is an even number")#print the even numbers

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number

BREAK AND CONTINUE

In [19]:
for number in range(0, 20, 2):#for number is the range(start from 0, end at 20, count by 2)
    print(f"{number} is an even number")#orint the even numbers
    if number == 10:#if number is equal to 10
        print("On ho! Not 10")#print the msg and break
        break
print("Next steps in out code")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
On ho! Not 10
Next steps in out code

In [20]:
for number in range(0, 20, 2):#(start from 0, end at 20, count by 2)
    if number == 10:#If number is 10 then print
        print("We are not executing 10")
        continue#and then continue
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
We are not executing 10
12 is an even number
14 is an even number
16 is an even number
18 is an even number

PRACTICE

In [21]:
for i in range(0, 10):#10 times print the msg
    print("Hello for loop")

Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop

In [26]:
sum = 0
#assign 0 to sum
for number in range(0, 101):#range of numbers from 0 t0 101
    if number % 10 == 0:#if remainder is 0 after dividing by 10 then continue
        continue

    sum += number#add the numbers, then print the sum
print(f"The sum is {sum}")

The sum is 4500

In [27]:
customers = {
    'Alice': 4,
    'Judy': 8,
    'Anna': 6
}
#Dictionary
for customer in customers:
    print("{} has made {} purchases".format(customer, customers[customer]))
    #print each customers purchase using format() function

Alice has made 4 purchases
Judy has made 8 purchases
Anna has made 6 purchases

USING ELSE WITH FOR LOOPS

In [28]:
numbers1 = [1, 5, 9, 5, 7, 3]
numbers2 = [2, 8, 6, 2, 4, 10]
#initalizing two lists
for number in numbers2:#for numbers in the list numbers2
    if number % 2 == 0:#if mod 2 is 0 print
        print("List contains at least 1 even number")
        break
else:
    print("The list does not contain any even numbers")

List contains at least 1 even number

NESTED LOOP

In [29]:
for x in range(6):#for all x values 0-6
    for y in range(6):#for all y values 0-6
        print(f"{x} * {y} = {x * y}")

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [30]:
size = 5
#Assign 5 to size
for x in range(size):#for x in range 0-5
    for y in range(size):#y in range 0-5
        print(f"{x},{y}\t\t", end='')
    print()

0,0		0,1		0,2		0,3		0,4
1,0		1,1		1,2		1,3		1,4
2,0		2,1		2,2		2,3		2,4
3,0		3,1		3,2		3,3		3,4
4,0		4,1		4,2		4,3		4,4

In [31]:
for x in range(size):#for x in range 0-5
    for y in range(size):#for y in range 0-5
        if (x + y) % 2:
            print("\U0001F600\t", end='')
        else:
            print("\U0001F60D\t", end='')
    print()

😍	😀	😍	😀	😍
😀	😍	😀	😍	😀
😍	😀	😍	😀	😍
😀	😍	😀	😍	😀
😍	😀	😍	😀	😍

THE WHILE LOOP

In [32]:
i = 0
#i is initialized to 0
while i < 6:#while i is less than 6 print 1
    print(i)
    i += 1#go to next number

0
1
2
3
4
5

In [39]:
puzzle_pieces = 20
pieces_placed = 0

while pieces_placed < puzzle_pieces:
    pieces_placed += 1#add one for next interation
    print(f"Piece {pieces_placed} placed")#print the message 20 times

Piece 1 placed
Piece 2 placed
Piece 3 placed
Piece 4 placed
Piece 5 placed
Piece 6 placed
Piece 7 placed
Piece 8 placed
Piece 9 placed
Piece 10 placed
Piece 11 placed
Piece 12 placed
Piece 13 placed
Piece 14 placed
Piece 15 placed
Piece 16 placed
Piece 17 placed
Piece 18 placed
Piece 19 placed
Piece 20 placed

USING ELSE WITH WHILE LOOPS

In [38]:
i = 1
#initalize i to 1
while i < 10:#while i is less than 10
    i += 3# i + 3 on each interation
    if i % 2 == 0:#if mod 2 is 0 print the following message and break
        print("Sequence contains an even number")
        break
else:
    print("Sequence does not contain an even number")

Sequence contains an even number

A BIT OF PRACTICE

In [37]:
i = 0
#initialize i to 0
while i < 10:#while i is less than 10
    i += 1#increase i to one
    print(f"{i}. Hello while loop")#print this message ten times

1. Hello while loop
2. Hello while loop
3. Hello while loop
4. Hello while loop
5. Hello while loop
6. Hello while loop
7. Hello while loop
8. Hello while loop
9. Hello while loop
10. Hello while loop

In [36]:
cats = ['Tigger', 'Smokey', 'Sassy', 'Patch', 'Sammy']
#List is assigned
i = 0
while i < len(cats):#while i is less than the length of the list
    print(f"Hello {cats[i]}")#print the message with each element
    i += 1#go to the next index

Hello Tigger
Hello Smokey
Hello Sassy
Hello Patch
Hello Sammy

In [35]:
number = int(input("Please enter a number:\n"))
#Take input
factorial = 1
i = 1
while i <= number:#Till i is less than the number
    factorial *= i
    i += 1
print(f"{number}! = {factorial}")

Please enter a number:
4
4! = 24

In [33]:
i = 0
#i is assigned 0
while True:
    print(i)#print the value of i
    i += 1#increase 1 to i
    if i >= 10:#if i is greater than 10 then break
        break

0
1
2
3
4
5
6
7
8
9