<a href="https://colab.research.google.com/github/amtulali/TTP-SUMMER23/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hi there")
#in this line I am using print() method to print 'Hi There'.

hi there

In [2]:
print("there are two types of slashes: \\ and /")
#in this line, print function ignores the slash written twice.

there are two types of slashes: \ and /

In [4]:
print(""" This is a tabbed line
This is a regular line
""")
#in this line we have a tabbed line and a regular line without tab.

 This is a tabbed line
this is a regular line

In [6]:
print("\n\tThis is a tabbed line\nThis is a regular line")
#In this line \n is used for new line and \t is used for tab.

	This is a tabbed line
This is a regular line

**Variables**

In [8]:
dogs = 3
cats = "Fluffy Fur"
#in this code, dogs is assigned the value 3, wheras cats is assigned string 'Fluffy Fur'.

In [9]:
dogs
#writing dogs returns the value 3

3

In [10]:
cats
#writing cats returns the string 'Fluffy Fur'

'Fluffy Fur'

In [11]:
type(dogs)
#type(dogs) should give the type of the variable assigned to dogs which is an int.

int

In [12]:
type(cats)
#type(cats) should give the type of the variable assigned to cats which is a string.

str

In [13]:
hi="hello"
name="John"
print(hi + name)
# hi is assigned 'hello' wheras name is assigned 'John' and print(hi + name)
#returns hello john.

helloJohn

In [14]:
more_dogs=5
print(dogs + more_dogs)
#dogs was assigned variable 3 and more_dogs is assigned 5 so 
#print(dogs + more_dogs) returns (5+3) 8

8

In [15]:
price = 19.99
amount = 3
print(price*amount)
#price is assigned 19.99, amount is 3. print (price*amount) returns 59.97

59.97

In [16]:
#variable reassignment
dogs = "new value"
print(dogs)
#Now dogs is reassigned with string "new value"
#hence print(dogs) returns new value

new value

In [17]:
cats, dogs, rabbit = 2, 5, "cute"
print(dogs)
# here cats is assigned 2, dogs is assigned 5 and rabbit is assigned cute
#in one single line seperated with commas. print(dogs) returns 5

5

MORE **STRINGS**

Indexing

In [19]:
greetings = "hello world"
#greeting is assigned string "hello world"

In [20]:
greetings
#writing greeting returns "hello world"

'hello world'

In [21]:
print(greetings[4])
#print(greeting[4]) returns 'o' as it is at index 4 in hello

o

In [2]:
testing = "The 3rd, the 5th, and/or the 19th"
print(testing[10])
#Testing is assigned a string. print(testing[10]) returns h as it is at index 10.

h

In [3]:
print(testing[3])
#print(testing[3]) does not return anything as there is blank space at the index.

In [25]:
print(testing[5])
#print(testing[5]) returns 'r' as it is at index 5

r

In [27]:
len(greetings)
#in this line I am using len function to give length of string assigned to greetings

11

In [28]:
greetings[-1]
#greetings[-1] returns the last letter of the string assigned to greetings.

'd'

**String Formatting**

In [39]:
price = 59.99
#price is assigned 59.99

In [40]:
message = "the products cost {} dollar".format(price)
#.format(price) replaces {} with variable assigned to price.

In [41]:
message

'the products cost 59.99 dollar'

In [42]:
amount=3
total = amount * price
#amount is assigned variable 3 and total will return amount * price

In [43]:
message2 = "for {} products at the price of {}, the total will be: {}"
#{} are used to fill up the values accordingly.

In [44]:
print(message2.format(price, total, amount))
#this will format message 2 by replacing first {}with price, second{}with total
#and third {} with amount.

for 59.99 products at the price of 179.97, the total will be: 3

In [45]:
message3 = "for {2} products at the price of {0}, the total will be: {1}"
#{2} points to the third element seperated by comma in function format.
#{0} points to the first element seperated by comma in function format.
#{1} points to the second element seperated by comma in function format.

In [46]:
print(message3.format(price, total, amount))
#this would print amount in place of {2}, price in place of {0}, total in place of {1}

for 3 products at the price of 59.99, the total will be: 179.97

**The f-string Method**

In [47]:
price = 19.99
items = 3
#assigning 19.99 to price and 3 to items

In [48]:
msg = f'this individual product is {price}'
#using f function to format, returning 19.99 in place of {price}

In [49]:
msg

'this individual product is 19.99'

In [50]:
msg2 = f'The total for your purchase is {price * items}'
#using f function to format, and return {price(19.99)*items(3) which would be 59.97}

In [51]:
msg2

'The total for your purchase is 59.97'