<a href="https://colab.research.google.com/github/amtulali/TTP-SUMMER23/blob/main/Intro_to_Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

**Operators**

Boolean Operators

In [ ]:
is_day = True
#Boolean - a conditional check

In [ ]:
is_night=False
#Boolean - a conditional check
print(is_day)
#print true

True

# New Section

Coparison Operators

In [1]:
x , y = 9, 25
#assigning 9 to x and 25 to y

In [2]:
print(x==y)
#if x is equal to y then return true else false

False

In [3]:
print(x != y)
# If x is not equal to y then true else false

True

In [4]:
print(x > y)
#If x greater than y return true else false

False

In [ ]:
print(x < y)
#if x is less than y print true else false

Logical Operators

In [5]:
print(x > 5 and y < 30)
#True if x is greater than 5 and y is less than 30, else false

True

In [6]:
print(x > 5 or y < 30)
#Print true if either x is greater than 5 or y is less than 30, else false

True

In [7]:
print(not(x > 5))
#True is x is not greater than 5 else false

False

In [8]:
result = 5.3 * 8.58 >= 3.23 * 15.3
#45.474 >= 49.419
print(result)
#if 45.474 is greater and equal to 49.419 then true else false

False

In [9]:
print("cat" == "cat")
#true if cat is equal to cat else false

True

In [11]:
print("cat" is not "dog")
#True if cat is not dog else false

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-11-bf1d8c846d04>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat" is not "dog")

In [12]:
fruit = "banana"
#Banana is assigned to fruit
print("na" in fruit)
#Print true if na is in banana else false
print("na" not in fruit)
#print true if na is not in fruit else false

True
False

**COLLECTION DATA TYPES**

**Lists**

In [13]:
numbers = [3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
#a list named numbers is defined
print(numbers)
#Print the list
print(numbers[1])
#Print the second element in the list
print(numbers[-1])
#Print the last element in the list

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

In [14]:
names = ["Alice", "Bob", "Carol", "Dan"]
#A list named names is defined
print(names[0])
#print the first element of the list
print(names[2])
#Print the third element of the list

Alice
Carol

In [16]:
print(names[0][1])
#Print the second element of first name in the list

l

In [17]:
print(names[-3])
#Print the third element from reverse order

Bob

In [18]:
print(names[1:3])
#print element , Start at 1 and stop before index 3

['Bob', 'Carol']

In [19]:
print(names[0:-1])
#print element , Start at 0 and stop before index -1

['Alice', 'Bob', 'Carol']

In [20]:
print(names[0:])
#print elements from index 0 to all

['Alice', 'Bob', 'Carol', 'Dan']

In [21]:
names[1] = "Jane"
#The elelment in index one is changed to Jane
print(names)
#Print names aftert the change made to the list

['Alice', 'Jane', 'Carol', 'Dan']

**Nested Lists**

Strings are immutable/  Lists are mutable

In [2]:
matrix = [[1,2,3,4],[5,6,7,8]]
#initializing matrix

First bracket is row, second bracket is the column of that row

In [3]:
print(matrix)
#print the matrix

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [4]:
print(matrix[0][1])
#Print second element of first [] of matrix

2

In [8]:
matrix2 = [[[1,2],[3,4,5]],[[6,7,8],[9,10,11]]]
#initializing matrix

In [9]:
print(len(matrix2))
#print length of matrix

2

In [10]:
print(matrix2)
#print matrix2

[[[1, 2], [3, 4, 5]], [[6, 7, 8], [9, 10, 11]]]

In [11]:
print(matrix2[0][1][1])
#print from first [], second[], seond element

4

list functions

In [41]:
pets = ['cats', 'dog','parrot']
#define list pets
print(len(pets))
#give length of pets

3

In [42]:
print(pets)
#print the list of pets
pets.append('zebra')
#add zebra to the end of list pets
print(pets)
#print pets after adding element

['cats', 'dog', 'parrot']
['cats', 'dog', 'parrot', 'zebra']

In [ ]:
dir(pets)
#dierectory of list pets

In [45]:
print(pets)
#print pets
pets.insert(1,"fish")
#insert fish in the second position
print(pets)
#print pets after the required changes

['cats', 'dog', 'parrot', 'zebra']
['cats', 'fish', 'dog', 'parrot', 'zebra']

In [32]:
print('tiger' in pets)
#print true if tiger is in pets else false

False

In [46]:
print("cat" in pets)
#print true if cat in pets else false
#it will return false as we have cats, not cat

False

In [47]:
pets.remove("cats")
#remove cats from pets
print(pets)
#print pets

['fish', 'dog', 'parrot', 'zebra']

In [48]:
print(pets[3])
#print fourth element of list pets

zebra

In [49]:
pets.pop()
#take out last elment of the list
print(pets)

['fish', 'dog', 'parrot']

In [50]:
pets.pop(0)
#take out element on the first index

'fish'

In [51]:
del pets[0]
#delete the first element of list
print(pets)
#print the list pets

['parrot']

In [52]:
pets.clear()
#clear the whole list
print(pets)
#print the list

[]

In [53]:
pets = None

Iterator

In [55]:
my_cat = "fishy"
# Assign fishy to my_cat
my_iterator = iter(my_cat)
#iter() function to access one element at a time

In [56]:
print(next(my_iterator))
#print the next element

f

In [57]:
print(next(my_iterator))
#then the next

i

In [58]:
print(next(my_iterator))
#then the next element

s

Tuples, immutable list

In [59]:
dinner = ('chicken', 'fries', 18)
#assign a tuple to dinner
print(dinner)
#print the tuple dinner

('chicken', 'fries', 18)

In [62]:
type(dinner)
#give the type of the tuple

tuple

In [61]:
print(dinner[0])
#print the first element of dinner

chicken

In [60]:
print(dinner[-1])
#print the last element of dinner

18

In [63]:
new_dinner = dinner[:-1]
#a new tuple with elements without the last element
print(new_dinner)
#print the new tuple

('chicken', 'fries')

In [64]:
new = new_dinner + ("cheese",)
#the only way to add an element to a tuple

In [65]:
print(new)
#print the new tuple after adding a new element

('chicken', 'fries', 'cheese')

In [74]:
newer = list(new)
#This will change the new tuple to a list
print(newer)
#Print the list newer

['chicken', 'fries', 'cheese']

In [75]:
newer.append("watermelon")
#add watermelon to the list
print(newer)
#print the list

['chicken', 'fries', 'cheese', 'watermelon']

In [76]:
new2 = tuple(newer)
#change the list back to tuple
print(new2)
#print the tuple

('chicken', 'fries', 'cheese', 'watermelon')

In [77]:
db = ("oracle","sql")
#assign a tuple db
new_db = db + ("mongodb","aws")
#add some element to the tuple
print(new_db)
#print the tuple after the addition of elements

('oracle', 'sql', 'mongodb', 'aws')

In [78]:
friend1 = ("alex",20,False)
#assign a tuple to friend1
friend2 = ("bob",22,True)
#assign another tuple to friend2
friend3 = ("carl",19,False)
#assign another tuple to friend3
print(friend1,friend2,friend3)
#print all three tuples

('alex', 20, False) ('bob', 22, True) ('carl', 19, False)

In [79]:
friend2 = ("erica",) + friend2[1:]
#change Bob from friend 2 to Erica and add the other elements of tuple from index 1
print(friend2)

('erica', 22, True)

**tuple Functions**

In [80]:
my_desk = ("mouse","pad","monitor")
#Assign a tuple
print(my_desk.count("mouse"))
#Print how many times mouse is present in the tuple

new_tuple = ("a","b","b","c","c")
#Assign a new tuple
print(new_tuple) # it's ordered
#print the new tuple

tuple2 = new_tuple + ("d",)
#Add d to the new tuple
print(tuple2)
#Print the new tuple
tuple3 = tuple2 + ("e","f")
#Assign another tuple with element of tuple2 and e and f
print(tuple3)
#print the tuple3
tuple4 = list(tuple3)
#change tuple3 to list
print(tuple4)
#print the list

1
('a', 'b', 'b', 'c', 'c')
('a', 'b', 'b', 'c', 'c', 'd')
('a', 'b', 'b', 'c', 'c', 'd', 'e', 'f')
['a', 'b', 'b', 'c', 'c', 'd', 'e', 'f']

In [81]:
print(my_desk.index("mouse"))
#print the index of mouse in tuple my_desk

0

In [ ]:
stack = []
#Initialize stack
dir(stack)
#Show directory of stack

SETS

In [83]:
days = {"a","b","c","d"}
#Assign a set to days
type(days)
#print the type of days

set

In [85]:
print(days)
#print the set days

{'b', 'd', 'a', 'c'}

In [84]:
car = {"a","b","c"}
#Assign a set to car
type(car)
#Give type of set car

set

In [ ]:
dir(car)
#open directory of set car

UPDATING SETS

In [86]:
cam = {"a","b","c"}
#Assign a set to cam
cam.add("d")
#add d to cam
print(cam)
#print the cam after changes

{'b', 'd', 'a', 'c'}

In [87]:
set1 = set()
#assign a set
stack = list()
#assign a list
tuple1 = tuple()
#assign a tuple

In [ ]:
set3 = {"a","b","c"}
#assign a set named set3
type(set3)
#give type of set3

DICTIONARIES

In [88]:
my_dog = {
    "dog":"3",
    "cat":"1",
    "lion":1
}
#Dictionary assigned in key-value pairs
print(my_dog)
#print the dictionary

{'dog': '3', 'cat': '1', 'lion': 1}

In [89]:
type(my_dog)
#Give type of the dictionary my_dog

dict

In [ ]:
dir(my_dog)
#Give directory of dictionary

In [90]:
my_dog = {
    "dog":"3",
    "cat":"1",
    "lion":1
}
#assign a dictionary my_dog
print(my_dog["dog"])
#Print the value of dog in dictionary

3

In [91]:
print(my_dog.get("dog"))
#Print the value of dog in dictionary using get() function

3

In [92]:
print(my_dog.values())
#print the values of dictionary my_dog

dict_values(['3', '1', 1])

In [93]:
print(my_dog.keys())
#print the keys of dictionary my_dog

dict_keys(['dog', 'cat', 'lion'])

In [94]:
print(my_dog.items())
##print the values and keys of dictionary my_dog

dict_items([('dog', '3'), ('cat', '1'), ('lion', 1)])

In [95]:
print("dog" in my_dog)
#if there is dog in my_dog then true else false

True

Updating Dictionary Functions

In [96]:
my_dog.pop("cat")
#take out cat from the dictionary
print(my_dog)
#print the dictionary after taking out cat

{'dog': '3', 'lion': 1}

In [97]:
my_dog.popitem()
#take out the last element of dictionary
print(my_dog)
#print the remaining dictionary

{'dog': '3'}

Nesting Dictionaries

In [ ]:
family = {
    "child1": {
        "name":"bob",
        "age":24
    },
    "child2": {
        "name":"carl",
        "age":29
    }
}
#Assign a dictionary within a dictionary

In [ ]:
print(family)
#print the nested dictionary

In [98]:
# Append
stack = []
#initialize a stack
stack.append("Bob") # add to the end of the list
stack.append("Carl")
#add carl
print(stack)
#print the stack
stack.pop() # removes last element
print(stack)
#print stack
stack.append("Leo")
#add leo at end of list
print(stack)
#print the stack
# stack.pop
stack.pop(0) # removes certain indexes values of a stack
print(stack)
#print the stack

['Bob', 'Carl']
['Bob']
['Bob', 'Leo']
['Leo']

**Assignment**

In [ ]:
has_hammer = true
if has_hammer:
  print("Yes, he has a hammer in his cart!")
  else:
    pass
    print("He needs one hammer")

In [ ]:
test_list = ["hammer", "screw", "board", "", 46, 2808]

# New Section