<a href="https://colab.research.google.com/github/amtulali/TTP-SUMMER23/blob/main/IntroToPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi there")
#in this line I am using print() method to print 'Hi There'.

Hi there

In [ ]:
print("there are two types of slashes: \\ and /")
#in this line, print function ignores the slash written twice.

there are two types of slashes: \ and /

In [ ]:
print(""" This is a tabbed line
This is a regular line
""")
#in this line we have a tabbed line and a regular line without tab.

 This is a tabbed line
This is a regular line

In [ ]:
print("\n\tThis is a tabbed line\nThis is a regular line")
#In this line \n is used for new line and \t is used for tab.

	This is a tabbed line
This is a regular line

**Variables**

In [ ]:
dogs = 3
cats = "Fluffy Fur"
#in this code, dogs is assigned the value 3, wheras cats is assigned string 'Fluffy Fur'.

In [ ]:
dogs
#writing dogs returns the value 3

3

In [ ]:
cats
#writing cats returns the string 'Fluffy Fur'

'Fluffy Fur'

In [ ]:
type(dogs)
#type(dogs) should give the type of the variable assigned to dogs which is an int.

int

In [ ]:
type(cats)
#type(cats) should give the type of the variable assigned to cats which is a string.

str

In [ ]:
hi="hello"
name="John"
print(hi + name)
# hi is assigned 'hello' wheras name is assigned 'John' and print(hi + name)
#returns hello john.

helloJohn

In [ ]:
more_dogs=5
print(dogs + more_dogs)
#dogs was assigned variable 3 and more_dogs is assigned 5 so
#print(dogs + more_dogs) returns (5+3) 8

8

In [ ]:
price = 19.99
amount = 3
print(price*amount)
#price is assigned 19.99, amount is 3. print (price*amount) returns 59.97

59.97

In [ ]:
#variable reassignment
dogs = "new value"
print(dogs)
#Now dogs is reassigned with string "new value"
#hence print(dogs) returns new value

new value

In [ ]:
cats, dogs, rabbit = 2, 5, "cute"
print(dogs)
# here cats is assigned 2, dogs is assigned 5 and rabbit is assigned cute
#in one single line seperated with commas. print(dogs) returns 5

5

MORE **STRINGS**

Indexing

In [ ]:
greetings = "hello world"
#greeting is assigned string "hello world"

In [ ]:
greetings
#writing greeting returns "hello world"

'hello world'

In [ ]:
print(greetings[4])
#print(greeting[4]) returns 'o' as it is at index 4 in hello

o

In [ ]:
testing = "The 3rd, the 5th, and/or the 19th"
print(testing[10])
#Testing is assigned a string. print(testing[10]) returns h as it is at index 10.

h

In [ ]:
print(testing[3])
#print(testing[3]) does not return anything as there is blank space at the index.

In [ ]:
print(testing[5])
#print(testing[5]) returns 'r' as it is at index 5

r

In [ ]:
len(greetings)
#in this line I am using len function to give length of string assigned to greetings

11

In [ ]:
greetings[-1]
#greetings[-1] returns the last letter of the string assigned to greetings.

'd'

**String Formatting**

In [ ]:
price = 59.99
#price is assigned 59.99

In [ ]:
message = "the products cost {} dollar".format(price)
#.format(price) replaces {} with variable assigned to price.

In [ ]:
message

'the products cost 59.99 dollar'

In [ ]:
amount=3
total = amount * price
#amount is assigned variable 3 and total will return amount * price

In [ ]:
message2 = "for {} products at the price of {}, the total will be: {}"
#{} are used to fill up the values accordingly.

In [ ]:
print(message2.format(price, total, amount))
#this will format message 2 by replacing first {}with price, second{}with total
#and third {} with amount.

for 59.99 products at the price of 179.97, the total will be: 3

In [ ]:
message3 = "for {2} products at the price of {0}, the total will be: {1}"
#{2} points to the third element seperated by comma in function format.
#{0} points to the first element seperated by comma in function format.
#{1} points to the second element seperated by comma in function format.

In [ ]:
print(message3.format(price, total, amount))
#this would print amount in place of {2}, price in place of {0}, total in place of {1}

for 3 products at the price of 59.99, the total will be: 179.97

**The f-string Method**

In [ ]:
price = 19.99
items = 3
#assigning 19.99 to price and 3 to items

In [ ]:
msg = f'this individual product is {price}'
#using f function to format, returning 19.99 in place of {price}

In [ ]:
msg

'this individual product is 19.99'

In [ ]:
msg2 = f'The total for your purchase is {price * items}'
#using f function to format, and return {price(19.99)*items(3) which would be 59.97}

In [ ]:
msg2

'The total for your purchase is 59.97'

**String Functions**

In [ ]:
dir(msg)
#this function gives us access to the directory of list of commands.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
msg

'this individual product is 19.99'

In [ ]:
msg ="hello my name is Bob"
#a string assigned to msg.

In [ ]:
words = msg.split(' ')
#split function uses to split the string assigned to msg into seperate words.

In [ ]:
print(words)

['hello', 'my', 'name', 'is', 'Bob']

In [ ]:
elements = msg.split('e')
#split function used to split the string assigned to msg at every occurence of 'e'

In [ ]:
print(elements)

['h', 'llo my nam', ' is Bob']

In [ ]:
print(msg.upper())
#upper() function used to change the letters in the string to upper case.

HELLO MY NAME IS BOB

In [ ]:
print(msg.lower())
#lower() function used to change the letter in the string to lower case.

hello my name is bob

**The Input() Method**

In [ ]:
data = input('What is your name: ')
#input function used to take user's input.
print(f'Hello {data}, hope your day is great!')
#The input taken is used in place of {} while printing.

What is your name: amtul
Hello amtul, hope your day is great!

In [ ]:
num = int(input('enter a number: '))
#input function is used to take an integer input.
print(num)
#The integer is then printed

enter a number: 3
3

In [ ]:
type(num)
#the type of num is integer

int

In [ ]:
#Assignment
name = input('What is your name: ')
age = int(input('Enter your age:'))
address = input('What is you address: ')
sport = input('Whats your favorite sport: ')

What is your name: amtul
Enter your age:20

In [ ]:
print(f'Hello {name}, hope your day is great!')
print(f'Your age is {age}')
print(f'Your address is {address}')
print(f'Oh wow, your favourite sport is {sport}')

**NUMBERS**

In [ ]:
cats = 7
#assigning 7 to cats
money = -35.5
#assigning -35.5 to money
x = 2+5j
#x is defined as an equation (2+5j)
message = "Hello Alice!"
#message is assigned a string

In [ ]:
print(type(cats))
#since 7 is assigned to cats so it would be an int
print(type(money))
#since -35.5 is assigned to money so it would be a float
print(type(x))
#since x is an equation, it is a complex number
print(type(message))
#message is a string

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
shoes = 5
#integer 5 is assigned to shoes.
print(f"I own {shoes} pairs of shoes")
#using print f function, we replace {shoes} by 5.
print(type(shoes))
#print type of shoes which should be an int.

I own 5 pairs of shoes
<class 'int'>

In [ ]:
rate = 3/2
#3/2 is assigned to rate
print(f"I can complete {rate} projects per month")
#using print f function, we replace {rate} by 3/2.
print(type(rate))
#print type of rate which should be a float.

I can complete 1.5 projects per month
<class 'float'>

In [ ]:
a = 6
#int 6 is assigned to a
b = 2.5
#float 2.5 is assigned to b
print(f"{a} * {b} = {a * b}")
#a and b are multiplied
print(type(a * b))
#hence the answer would be a float

6 * 2.5 = 15.0
<class 'float'>

CONVERSIONS

In [ ]:
value = 3.8
# float 3.8 is assigned to value
convert = int(value)
#convert 3.8 to int
print(convert)
#print the int value
print(type(convert))
#give type of the converted value which should be an int

3
<class 'int'>

In [ ]:
number = int("25")
#integer 25 is assigned to number
print(number)
#print the number
print(type(number))
#Print the type of the number which should be an int

25
<class 'int'>

In [ ]:
num2 = 'twenty'
#twenty is assigned to num2
print(len(num2))
#len() function is used to give print the length of num2

6

In [ ]:
value = 78
#integer 78 is assigned to value
convert = float(value)
#value 78 is converted to float
print(convert)
#the vlaue is printed after conversion
print(type(convert))
#print type of the value after conversion
convert = float("56.48")
#float 56.48 is assigned to convert
print(convert)
#Print the number assigned to convert
print(type(convert))
#print the type of number assigned to convert which would be a float

78.0
<class 'float'>
56.48
<class 'float'>

In [ ]:
value = 38
#integer 38 is assigned to value
convert = complex(value)
# the integer assigned to value is converted to complex number
print(convert)
#print the converted complex number
print(type(convert))
#print the type of converted number which should be complex

(38+0j)
<class 'complex'>

In [ ]:
value = 28.4875
#float 28.4875 is assigned to value
convert = str(value)
#convert the float value to string
print(convert)
#print the converted string value
print(type(convert))
#print type of the cpnverted value

28.4875
<class 'str'>

In [ ]:
# value = '5j'
# convert = int(value)
# print(convert)

In [ ]:
data=input("please enter a value")
#Take an input of a value
print(int(data))
#print the input in integer form
print(float(data))
#print the input in float form
print(complex(data))
#print the input in complex form
print(str(data))
#print the inpur in string form

please enter a value80
80
80.0
(80+0j)
80

In [ ]:
pi = 3.14159
#float 3.14159 is assigned as pi value
print(type(pi))
#print type of pi value
print(int(pi))
#print pi value in integer form
print(complex(pi))
#print pi value in complex form
print(str(pi))
#print pi value in string form

<class 'float'>
3
(3.14159+0j)
3.14159

OPERATIONS

THE MODULUS OPERATOR

In [ ]:
print(259/4)
#Divide 259 by 4

64.75

In [ ]:
print(259%4)
#modulus operator to find the remainder

The Power Operator

In [ ]:
print(9 ** 4)
#print result of 9 to the power of 4

6561

In [ ]:
2**2
#print result of 2 to the power of 2

4

The Floor Operator

In [ ]:
print(9 // 4)
#The floor operator divides the first argument by the second and round the
#result down to the nearest whole number,

2

Assignment Operator

In [ ]:
x = 9
#assign 9 to x

In [ ]:
x += 4
#add 4 to x
print(x)

In [ ]:
# x = x + 4
x -= 4
#Subtract 4 from x
print(x)

In [ ]:
x *= 4
#Multiply 4 to x
print(x)

In [ ]:
x /= 4
#Divide x by 4
print(x)

In [ ]:
x %= 4
#remainder after division with 4
print(x)
#print value of x
x **= 4
#x raised to power of 4
print(x)
#print x
x //= 4
#Divide x by 4 and give result as whole number
print(x)
#print value of x

**Assignment**

In [ ]:
num = int(input('enter a number: '))

In [ ]:
num+= 4
message = "After adding 4 the number is {}".format(num)
print(message)

In [ ]:
num*=4
message = "After multiplying 4 to the number is {}".format(num)
print(message)

In [ ]:
num-=4
message = "After subtracting 4 to the number is {}".format(num)
print(message)

In [ ]:
num/=4
message = "After dividing 4 to the number is {}".format(num)
print(message)